body {
	padding: 0;
    margin: 0;
    width: 100%;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
    line-height: 180%;
    background-color: #f9f9f9;
}
p{
	text-align: justify;
}
section>p{
	text-indent: 40px;
}
main{
	display: block;
	max-width: 950px;
	margin: 3rem auto 3rem auto;
	padding-bottom: 2rem;
	box-shadow: 0 10px 10px -5px;
	background-color: #fff;
}
main>*{
	padding: 0 2rem;
}
h1{
	text-align: center;
	margin-top: 4rem;
	color: #1f497D;
	text-shadow: 2px 2px 0px #000;
}
h1>span{
	display: block;
	font-size: 1.6rem;
	font-style: italic;
	text-shadow: none;
}
h2{
	margin-top: 2rem;
	font-style: italic;
}
h2,h3{
	color: #365F91;
}
h3>span{
	float: right;
}
.row, section{
	display: grid;
	grid-row-gap: 2rem;
}

img{
	max-width: 100%;
	height: auto;
	margin: auto;
}
.row.info img{
	border-radius: 10px;
}

main>.row:first-child{
	position: relative;
}

table{
	margin: auto;
	height: 100%;
	width: 300px;
	border-spacing: 0px
}
table>tbody>tr:nth-child(even){
	background-color: #f4f7f7;
}
table td:first-child{
	width: 35px;
}
table td:last-child{
	padding-left: 1rem;
}

@media only screen and (min-width: 640px){
	main>*{
		padding: 0 50px;
	}
	table{
		margin: unset;
	}
	.row.info{
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 1rem;
	}
}

.info>p{
	grid-column: 1/-1;
}
.resumen>p{
	display: none;
}
@media only screen and (min-width: 768px){
	.row.info{
		grid-template-columns: 200px 1fr;
	}
	.info>p{
		display: none;
	}
	.resumen>p{
		display: block;
	}
	table{
		height: auto;
	}
}

@media only screen and (min-width: 992px){
	h1{
		text-align: left;
	}
	h1>span{
		text-align: right;
	}
	.row.title{
		grid-template-columns: 65% 1fr;
	}
	.dash{
		position: absolute;
	    right: 10%;
	    bottom: 65px;
	    width: 150px;
	    border-top: solid 2px;
	    border-top-style: dashed;
	}
	.dash::after{
		content: '';
	    position: absolute;
	    right: calc(20% - 35px);
	    top: 10px;
	    width: 50px;
	    border-top: solid 1px;
	    transform: rotate(90deg);
	}
}

.arrow{
	font-size: 35px;
	text-align: center;
}