body {
	padding: 0;
    margin: 0;
    width: 100%;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
    line-height: 180%;
    background-color: #f9f9f9;
}
main{
	display: block;
	max-width: 950px;
	margin: 3rem auto 3rem auto;
	padding-bottom: 2rem;
	box-shadow: 0 10px 10px -5px;
	background-color: #fff;
}
main>*{
	padding: 0 2rem;
}

h1{
	text-align: center;
	margin-top: 4rem;
	color: #1f497D;
	text-shadow: 2px 2px 0px #000;
}
h1>span{
	display: block;
	font-size: 1.6rem;
	font-style: italic;
	text-shadow: none;
}
h2{
	margin-top: 5rem;
	font-style: italic;
}
h2,h3{
	color: #365F91;
}
h3>span,
p>span{
	float: right;
}
p{
	text-align: justify;
}
h5.pd{
	color: #6c757d;
}
h5.pd>small{
	color: #dc3545;
}


main>header{
	position: relative;
}
main>header, section{
	display: grid;
	grid-template-columns: minmax(1em, 100%);
	grid-row-gap: 2rem;
	margin-bottom: 2rem;
}

.resumen{
	grid-template-areas: "foto" "resumen" "contacto";
}
section:not(.resumen)>p{
	text-indent: 40px;
}
img:not(.flag){
	max-width: 100%;
	height: auto;
	margin: auto;
}
.resumen>img{
	grid-area: foto;
	border-radius: 10px;
}
.resumen>p{
	grid-area: resumen;
}
address{
	grid-area: contacto;
	display: grid;
	grid-template-columns: calc(100vw - 4rem);
	grid-gap: 1rem;
	margin: auto;
}
@media only screen and (min-width: 424px){
	address{
		grid-template-columns: 320px;
	}
}
address>a{
	display: grid;
	grid-template-columns: 50px 1fr;
	grid-column-gap: 1rem;
	height: 5rem;
	border-radius: 5px;
	color: #007bff!important;
	transition: 150ms;
}
address>a:nth-child(even){
	background-color: #f4f7f7;
}
address>a:active{
	background-color: #dfefef;
}
address span:last-child{
	align-self: center;
	padding-right: 1rem;
	word-break: break-all;
}
address img{
	width: 35px !important;
}

.arrow{
	font-size: 35px;
	text-align: center;
	align-self: center;
}

.dash{
	display: none;
}

@media only screen and (min-width: 640px){
	main>*{
		padding: 0 50px;
	}
	h2:nth-child(2n+8)+section{
		grid-template-columns: 1fr 1fr !important;
	}

	.resumen{
		grid-template-columns: 1fr 200px 1fr 1fr;
		grid-column-gap: 1rem;
		grid-template-areas:
			". foto contacto ."
			"resumen resumen resumen resumen";
	}
	.dato{
		position: relative;
	}
	.descripcion{
		left: unset !important;
	}
}

@media only screen and (min-width: 992px){
	main>header{
		grid-template-columns: 65% 1fr;
	}
	h1{
		text-align: left;
	}
	h1>span{
		text-align: right;
	}
	h2:nth-child(2n+8)+section{
		grid-template-columns: repeat(3, 1fr) !important;
	}
	.resumen{
		grid-template-columns: 200px 1fr;
		grid-gap: 1rem;
		grid-template-areas:
			"foto resumen"
			"foto contacto";
	}
	address{
		grid-template-columns: 1fr 1fr;
		width: 100%;
	}
	address>a:nth-child(even){
		background-color: unset;
	}
	address>a:nth-child(4n+2),
	address>a:nth-child(4n+3){
		background-color: #f4f7f7;
	}

	address>a:hover{
		background-color: #dfefef;
	}
	.dash{
		display: block;
		position: absolute;
	    right: 10%;
	    bottom: 65px;
	    width: 150px;
	    border-top: solid 2px;
	    border-top-style: dashed;
	}
	.dash::after{
		content: '';
	    position: absolute;
	    right: calc(20% - 35px);
	    top: 10px;
	    width: 50px;
	    border-top: solid 1px;
	    transform: rotate(90deg);
	}
}

h2:nth-child(2n+8)+section{
	grid-template-columns: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 3rem;
}

article{
	display: block;
	margin: auto;
	box-shadow: 0 5px 10px -2px;
	padding: 0 1rem;
	border-radius: 15px;
	transition: all 150ms;
	height: 200px;
	width: 220px;
}
article:hover{
	box-shadow: 0 5px 20px -2px;
}
article>header{
	height: 100%;
}
article>header>a{
	display: grid;
	grid-template-rows: 150px 50px;
}
article>header>a>p{
	margin: 0;
}

article h3{
	color: #616161;
}
article:hover h3{
	color: #000;
}

article p{
	font-style: italic;
	color: #9696a0;
}
article:hover p{
	color: #17a2b8;
}

article p>span{
	font-style: normal;
}
article *{
	transition: all 150ms;
}
article a{
	text-decoration: none !important;
}
.completed{
	font-weight: bold;
}
.completed>h3{
	color: #000;
}
.completed>p{
	color: #28a745 !important;
}

.tiempo{
	grid-column: 1/-1;
	display: flex;
	width: 300px;
	margin: auto;
	position: relative;
}
.dato{
	width: 100px;
	text-align: center;
	display: inline-block;
	box-shadow: 0 5px 5px -2px;
}
.dato:first-child{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.dato:last-child{
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
.dato:hover{
	box-shadow: 0 5px 20px -2px;
}

.descripcion{
	display: none;
}
.descripcion>*{
	margin-bottom: 0;
}
.dato:hover > .descripcion{
	display: block;
	width: 200px;
	position: absolute;
	z-index: 10;
	top: 75px;
	left: 50px;
	border-radius: 15px;
	background-color: #fff;
	box-shadow: 0 5px 20px -2px;
	margin-bottom: 2rem;
	padding: 0 10px;
}

ul{
	grid-column: 1/-1;
	padding: 0 !important;
}
ul>li{
	list-style-type: none;
	position: relative;
	margin-bottom: 1rem;
}
ul>li:before{
	content: '\2713';
	font-size: 1.8rem;
}
ul>li:after{
	content: '';
	position: absolute;
	top: 10px;
	left: 2px;
	display: block;
	width: 15px;
	height: 15px;
	border: solid 1px #000;
}

#languages{
	position: fixed;
	bottom: 2.5rem;
	right: 2.5rem;
	padding: 0;
	outline: 0;
	background: none;
	border: none;
	cursor: pointer;
	transition: 50ms;
}
#languages:active{
	bottom: 2rem;
	right: 2rem;
}

.flag{
	opacity: 0.5;
	width: 5rem;
	height: 5rem;
	border-radius: 10px;
	box-shadow: 4px 4px 8px;
	transition: 200ms;
}
#languages:active>.flag,
#languages:hover>.flag{
	opacity: 0.9;
	box-shadow: 6px 6px 12px;
}
@media only screen and(min-width: 992px){
	#languages:active>.flag{
		box-shadow: 4px 4px 8px;
	}
}